@{
    ViewBag.Title = "Home Page";
}

<h1>Salem</h1>
<div>
    <input type="button" onclick="window.location = '/FirstPlay';" value="Play" />
</div>
<div>
    <input type="button" onclick="window.location = '/Players';" value="Players" />
</div>