@{
    ViewBag.Title = "Play";
}
@using Salem.Models
@model KillModel

<h1>Choose who you'd Kill</h1>
@foreach(var p in Model.Players)
{
    <div>
        @{ 
            var playerLabel = p;
            if(Model.WitchVotes.ContainsKey(p) && Model.WitchVotes[p] > 0)
            {
                playerLabel += $" ({Model.WitchVotes[p]})";
            }
        }
        <input type="button" value="@playerLabel" onclick="window.location = '/Save?player=@p'" />
    </div>
}