@{
    ViewBag.Title = "Play";
}

<h1>Night</h1>
<div>
    <input type="button" onclick="window.location = '/Role';" value="Play" />
</div>
<div>
    <input type="button" onclick="window.location = '/Confess';" value="End Night" />
</div>
<div>
    <input style="margin-top:100px;" type="button" onclick="window.location = '/Index';" value="Home" />
</div>